:root {
    --primery-color: #202020;
    --branding-color: #f65282;
    --primary-font: font-family: 'Roboto', sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

body {
    background: var(--primery-color);
    min-height: 800px;
}

h1,
h2,
h3,
p,
a,
span  {
    color: #fff !important; 
    text-align: center;
}

h1 {
font-family: var(--primary-font);
font-size: 72px;

}
h2 {
    font-family: var(--primary-font);
    font-size: 26px;
}

h4 {
    font-family: var(--primary-font);
    color: var(--branding-color);
    font-size: 16px;

}


p {
    font-family:'Dancing Script', cursive;
    font-size: 18px;
    columns: #fff;
    line-height: 1.5;
    margin: 15px;
}

img {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    
 }


i {
    font-size: 16px;
}


footer span {
    font-size: 14px;
    font-family: monospace;
}

    .wrapper {
        min-height: 800px;
        display: flex;  
        flex-direction: column;
    }
    .about-section,
    .gallery-section,
    .drscription-section {
        flex: 1 1 auto;
    }

.hero {
    padding: 100px;
    text-align: center;
    background-image: url("/src/images/assemblagePoint.jpg");
    background-position: center;
    background-repeat: none;
}
.navbar-brand {
    font-size: 14px;
}

.start-link:hover {
    background-color: var(--primery-color);
}


.navigation-link {
    display: block;
    margin: 30px auto;
    border: solid 1px #fff;
    border-radius: 10px; 
    padding: 10px;
    max-width: 50%;

}
.navigation-link:hover {
    background: gray;
}
.myName {
    text-align: start;
}
.contact-link {
    border: solid 1px var(--branding-color);
    border-radius: 18px;
    font-size: 14px;
}
.myPic {
   
    display: block;
    margin: 30px auto;
}
.gallery-section img {
   max-width: 500px;
   max-height: 400px;
   margin-top: 30px;
   margin-bottom: 30px;

}



@media (max-width:576px) {
   
    h1 {
        font-size: 46px;
        text-align: center !important;
    
    }

    h1, h4, .contact-link, .social-media-links {
        text-align: center !important;
        display: block;
    }
    
    .navigation-link {
        max-width: 100%;
    }
   
}
    
@media (min-width:800px) {
    .myPic {
        max-width: 350px;
    }
}
